# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Environment variables
.env
.env.*

# Flask
instance/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local databases
*.db
*.sqlite
*.sqlite3

# Backup files
*.sql.bak
